<app-header-nav></app-header-nav>
<h2 style="text-align: center;">Welcome to Green Koncepts</h2>
<div class="row w-50 align-content">
  <div class="col-lg-4 col-xs-12">
    <mat-card  routerLink="hierarchy">
      Hierarchy
    </mat-card>
    </div>
    <div class="col-lg col-xs-12">
      <mat-card routerLink="customer">
        Customer
      </mat-card>
      </div>
      <div class="col-lg col-xs-12">
        <mat-card  routerLink="order">
          Orders
        </mat-card>
        </div>
</div>


<div class="row w-50 align-content">
  <div class="col-lg col-xs-12">
    <mat-card>
      Schedules
    </mat-card>
    </div>
    <div class="col-lg col-xs-12">
      <mat-card>
        Messages
      </mat-card>
      </div>
      <div class="col-lg col-xs-12">
        <mat-card>
          Email
        </mat-card>
        </div>
</div>
