.align-content{
  margin: 0 auto;
  position: relative;
  top: 100px;
  height: max-content;
  .mat-card{
    height: 150px;
    text-align: center;
    padding: 60px;
    margin:15px;
    cursor: pointer;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .mat-card{
    margin:30px;
  }

}
